.header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.anchor {
  border-radius: 5px;
  padding: 8px;
  background-color: antiquewhite;
  font-size: 1.4rem;
  transition-duration: 0.6s;
}

.anchor:hover {
  transform: translateY(-4px) rotate(360deg);
  box-shadow: 4px 4px #333;
}

.anchor:active {
  transform: translateY(0);
  box-shadow: none;
}
